@plugin "daisyui" {
  themes: light --default, dark --prefersdark, lemonade , synthwave;
}
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* TAILWIND CUSTOM VARIABLES */
@theme {
  --breakpoint-xs: '320px';
  --shadow-xs: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);

}


/* Add smooth transitions for the carousel */
.transition-smooth {
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Style for the dot indicators */
.dot-indicator {
  transition: all 0.3s ease;
}








/*  */

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 10px; /* height of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* color of the scrollbar track */
  border-radius: 10px; /* rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; /* color of the scrollbar thumb */
  border-radius: 10px; /* rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* color of the scrollbar thumb on hover */
}

/* Making the scrollbar visible
body {
  overflow-y: scroll; /* making the scrollbar visible 
} */

